<header class="site-header">
         <div class="header-left">
    <img src="./images/site/favicon-32x32.png" alt="Car Icon" class="logo-icon">
    <span class="site-title">CSE Motors</span>
         </div>
    <div class="header-right">
    <h2><a href="https://www.example.com" target="_blank" rel="noopener noreferrer">My Account</a></h2>
        </div>
    </header>