<!-- Navbar -->
    <nav class="navbar">
      <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
      <ul id="nav-links">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#Custom">Custom</a></li>
        <li><a href="#Sedan">Sedan</a></li>
        <li><a href="#Sport">Sport</a></li>
        <li><a href="#SUV">SUV</a></li>
        <li><a href="#Truck">Truck</a></li>
      </ul>
    </nav>